echo "# тестовая работа" >> README.md
git init
git add README.md
git commit -m "первый коммит"
git branch -M main
git remote add origin https://github.com/DOCTYPEv2/test-work.git
git push -u origin main
